{
    "plugins": [
        ["@babel/plugin-transform-modules-commonjs"]
    ],
    "presets": [
        ["@babel/preset-env", {
            "targets": "cover 100%"
        }]
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
